[package]
name = "vpin"
version = "0.15.3"
edition = "2021"
description = "Rust library for the virtual pinball ecosystem"
repository = "https://github.com/francisdb/vpin"
readme = "README.md"
license = "MIT"
documentation = "https://docs.rs/vpin"

keywords = ["vpin", "visual-pinball", "virtual-pinball", "vpx"]
categories = ["game-engines", "game-development"]

exclude = [
    "testdata/*",
]

[dependencies]
byteorder = "1.5.0"
bytes = "1.5.0"
cfb = "0.10.0"
encoding_rs = "0.8.33"
fake = { version = "2.9.2", features = ["derive"] }
md2 = "0.10.2"
nom = "7.1.3"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = { version = "1.0.107", features = ["preserve_order"] }
utf16string = "0.2.0"
quick-xml = { version = "0.35.0", features = ["serialize"] }
serde_repr = "0.1.16"
hex = "0.4.3"
wavefront_rs = "2.0.0-beta.1"
flate2 = "1.0.28"
image = "0.25.1"
weezl = "0.1.8"
regex = "1.10.5"

[dev-dependencies]
dirs = "5.0.1"
pretty_assertions = "1.4.0"
rand = "0.8.5"
rayon = "1.8.0"
testdir = "0.9.0"
walkdir = "2.4.0"
roxmltree = "0.20.0"
testresult = "0.4.0"

[profile.test]
# level 0 is very slow for writing to compound files
# see https://github.com/mdsteele/rust-cfb/issues/42
opt-level = 1
