name: Integration Tests

on:
  schedule:
    - cron: '0 0 * * 0' # Runs weekly on Sunday at 00:00 UTC
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install minimal stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2.8.2
      - name: Check out vpinball repository inside the project folder
        uses: actions/checkout@v6
        with:
          repository: vpinball/vpinball
          path: vpinball
      - name: Run the integration tests
        run: TABLES_DIR="vpinball" cargo test --release -- --ignored --nocapture
