name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
          - os: windows-latest
          - os: macos-latest

    runs-on: ${{ matrix.platform.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Install minimal stable with clippy and rustfmt
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2.8.2
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose

  wasm32-wasip1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-wasip1
      - uses: Swatinem/rust-cache@v2.8.2
      - name: Install wasmtime-cli
        run: cargo install wasmtime-cli
      - name: Run WASM tests
        run: cargo test --target wasm32-wasip1

  wasm32-unknown-unknown:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2.8.2
      - name: Install wasm-bindgen-cli
        run: cargo install wasm-bindgen-cli
      - name: Run WASM tests
        run: cargo test --target wasm32-unknown-unknown --features wasm